<!DOCTYPE html>
<html>

<head>
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS from CDN for styling -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<body class="bg-gray-200">
    <!-- Header --->
    <div class="flex flex-col min-h-screen">
        <header class="text-center py-5">
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-bold"><a href="/blog">Surya Polina</a></h1>
            </div>
            <nav class="mt-4">
                <a href="/blog" class="text-blue-800 hover:text-blue-700 mx-2">Blog</a>
                <a href="/gallery" class="text-blue-800 hover:text-blue-700 mx-2">Gallery</a>
                <a href="/portfolio" class="text-blue-800 hover:text-blue-700 mx-2">Portfolio</a>
            </nav>
        </header>
        <!-- Masonry Grid -->
        <div class="masonry-grid"  data-masonry-options='{ "isFitWidth": true }'>
          <% posts.forEach(function(post, index) { %>
            <!-- Adjust width and margin classes as needed -->
            <div class="masonry-grid-item">
              <a href="/blog/<%= post.id %>" class="no-underline text-black">
                <div class="bg-white shadow-lg hover:bg-blue-100 overflow-hidden" style="height: auto;"> <!-- Adjust height here if necessary -->
                  <h2 class="text-lg font-bold p-3"><%= post.title %></h2> <!-- Adjust text size and padding as needed -->
                  <% if (post.imagePath) { %>
                    <!-- Adjust your image height or leave it to auto to maintain aspect ratio -->
                    <img src="<%= post.imagePath %>" alt="Thumbnail" class="w-full" style="height: auto;">
                  <% } %>
                  <div class="p-3"> <!-- Adjust padding as needed -->
                    <p class="mb-1 text-sm"><%= post.preview %></p> <!-- Adjust bottom margin and font size as needed -->
                    <p class="text-gray-500 text-xs mb-1"><%= new Date(post.date_created).toLocaleDateString() %></p> <!-- Adjust font size as needed -->
                    <div class="flex flex-wrap gap-1"> <!-- Adjust gap as needed -->
                      <% post.tags.forEach(function(tag) { %>
                        <a href="/tag/<%= tag %>" class="bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 hover:bg-gray-300"
                          onclick="event.stopPropagation();">
                          <%= tag %>
                        </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% }); %>
        </div>
        <!-- Footer --->
        <footer class="mt-auto bg-indigo-100">
            <div class="text-center py-5">
                <div class="flex justify-center space-x-4 mb-4"> <!-- Adjust the space-x-* and mb-* to your liking -->
                    <a href="mailto:thesuryapolina@gmail.com" class="text-gray-600 hover:text-black">
                        <i class="fas fa-envelope fa-lg"></i>
                    </a>
                    <a href="https://github.com/surpol" target="_blank" class="text-gray-600 hover:text-black">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/suryapolina" target="_blank" class="text-blue-400 hover:text-blue-500">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://instagram.com/surya_polina" target="_blank" class="text-pink-600 hover:text-pink-700">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
                <p>All rights reserved. &copy; Surya Polina</p>
            </div>
        </footer>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script>
  // Function to check if all images have loaded
  function imagesHaveLoaded() {
    var images = document.images;
    var loaded = true;
    for (var i = 0; i < images.length; i++) {
      if (!images[i].complete) {
        loaded = false;
        break;
      }
    }
    return loaded;
  }

  // Initialize Masonry after all images have loaded
  function initializeMasonry() {
    if (imagesHaveLoaded()) {
      var grid = document.querySelector('.masonry-grid');
      new Masonry(grid, {
        itemSelector: '.masonry-grid-item',
          columnWidth: '.masonry-grid-item',
          fitWidth: true,
          gutter: 8 // This adds space between the items
      });
    } else {
      // If not all images are loaded, check again after a short delay
      setTimeout(initializeMasonry, 100);
    }
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    initializeMasonry();
  });
</script>

</body>
</html>
