<!DOCTYPE html>
<html>
<head>
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>
    <!----Header---->
    <header class="text-center py-6">
      <h1 class="text-3xl font-bold mt-5 hover:text-purple-800"><a href="/blog">Surya Polina</a></h1>
      <nav class="mt-4">
          <a href="/about" class="text-blue-600 hover:text-purple-800 mx-2">About</a>
          <a href="/blog" class="text-blue-600 hover:text-purple-800 mx-2">Blog</a>
          <a href="/portfolio" class="text-blue-600 hover:text-purple-800 mx-2">My Pages</a>
        </nav>
        <section class="text-center mt-8">
            <h2 class="text-3xl font-bold">[<%= tagName %>]</h2>
        </section>
    </header>
    <!----Grid---->
    <div class="masonry-grid mx-auto"  data-masonry-options='{ "isFitWidth": true }'>
        <% posts.forEach(function(post, index) { %>
          <div class="masonry-grid-item ">
            <a href="/blog/<%= post.id %>" class="no-underline text-black">
                <div class="bg-white hover:bg-blue-100 overflow-hidden p-1 rounded-3xl ">
                    <h1 class="text-xl text-gray-900 mb-4 mt-3 px-4 font-semibold "><%= post.title %></h2>
                    <% if (post.imagePath) { %>
                    <div class="px-5 mb-4">
                        <img src="<%= post.imagePath %>" alt="Thumbnail" class="rounded-xl">
                    </div>
                    <% } %>
                    <p class="mb-1 text-sm px-4 text-gray-700"><%= post.preview %></p>
                    <div class="px-2">
                        <% post.tags.forEach(function(tag) { %>
                        <a href="/blog/tag/<%= tag %>"
                            class="p-2 text-xs font-semibold text-blue-700 hover:bg-gray-300 inline-block rounded-lg">
                            <%= tag %>
                        </a>
                        <% }) %>
                    </div>
                    <p class="text-xs text-center text-gray-400 px-4 mb-2">
                        <%= post.views %> views
                    </p>
                </div>
            </a>
        </div>
        <% }); %>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script>
  // Function to check if all images have loaded
  function imagesHaveLoaded() {
    var images = document.images;
    var loaded = true;
    for (var i = 0; i < images.length; i++) {
      if (!images[i].complete) {
        loaded = false;
        break;
      }
    }
    return loaded;
  }

  // Initialize Masonry after all images have loaded
  function initializeMasonry() {
    if (imagesHaveLoaded()) {
      var grid = document.querySelector('.masonry-grid');
      new Masonry(grid, {
        itemSelector: '.masonry-grid-item',
          columnWidth: '.masonry-grid-item',
          fitWidth: true,
          gutter: 8 // This adds space between the items
      });
    } else {
      // If not all images are loaded, check again after a short delay
      setTimeout(initializeMasonry, 100);
    }
  }

  // start process
  document.addEventListener('DOMContentLoaded', (event) => {
    initializeMasonry();
  });
</script>

</body>
</html>