<!DOCTYPE html>
<html>
<head>
    <title>suryapolina.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>
    <div class="flex flex-col min-h-screen">
    	 <!----Header---->
        <header class="text-center py-5">
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-bold"><a href="/blog">Surya Polina</a></h1>
            </div>
            <nav class="mt-4">
                <a href="/blog" class="text-blue-800 hover:text-blue-700 mx-2">Blog</a>
                <a href="/gallery" class="text-blue-800 hover:text-blue-700 mx-2">Gallery</a>
                <a href="/portfolio" class="text-blue-800 hover:text-blue-700 mx-2">Portfolio</a>
            </nav>
            <section class="text-center py-5">
                <h2 class="text-3xl font-bold">tag: [<%= tagName %>]</h2>
            </section>
        </header>
        <!----Grid---->
        <div class="masonry-grid"  data-masonry-options='{ "isFitWidth": true }'>
            <% posts.forEach(function(post, index) { %>
                <div class="masonry-grid-item">
                	<a href="/blog/<%= post.id %>" class="no-underline text-black">
                        <div class="bg-white shadow-lg hover:bg-blue-100 cursor-pointer overflow-hidden p-3">
                            <h2 class="text-xl font-bold"><%= post.title %></h2>
                            <% if (post.imagePath) { %>
                                <img src="<%= post.imagePath %>" alt="Thumbnail" class="w-full p-3">
                            <% } %>
                            <div>
                                <p class="mb-1 text-sm"><%= post.preview %></p> <!-- Adjust bottom margin and font size as needed -->
                                <p class="text-gray-500 mb-1 text-sm"><%= new Date(post.date_created).toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) %></p> <!-- Adjust bottom margin and font size as needed -->
                            </div>
                        </div>
                </div>
            <% }); %>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script>
  // Function to check if all images have loaded
  function imagesHaveLoaded() {
    var images = document.images;
    var loaded = true;
    for (var i = 0; i < images.length; i++) {
      if (!images[i].complete) {
        loaded = false;
        break;
      }
    }
    return loaded;
  }

  // Initialize Masonry after all images have loaded
  function initializeMasonry() {
    if (imagesHaveLoaded()) {
      var grid = document.querySelector('.masonry-grid');
      new Masonry(grid, {
        itemSelector: '.masonry-grid-item',
          columnWidth: '.masonry-grid-item',
          fitWidth: true,
          gutter: 8 // This adds space between the items
      });
    } else {
      // If not all images are loaded, check again after a short delay
      setTimeout(initializeMasonry, 100);
    }
  }

  // start process
  document.addEventListener('DOMContentLoaded', (event) => {
    initializeMasonry();
  });
</script>

</body>
</html>